.heroes {
    list-style: none;
    margin-left: 2rem;
    padding: 0;
    display: block;
}

.hero {
    border: 1px solid #777;
    width: 12rem;
    margin: 5px;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    justify-content: space-between;
}

.hero:hover {
    background: #777;
    left: 0.1rem;
    position: relative;
}

.badge {
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin-right: 0.1rem;
    padding: 5px;
}

.name {
    padding-left: 0.5rem;
}

.selected {
    background: #eee;
    position: relative;
    left: 0.1rem;
}

.add-button {
    background-color: lightgreen;
    margin-left: 1rem;
}

.delete-button {
    background-color: lightcoral;
    margin: 0;
    padding: 0 5px;
}

.heroes-div {
    text-align: center;
}

.list-heroes-div {
    display: flex;
    justify-content: center;
}