@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 5rem;
  width: 800px;
  margin: 0 auto;
}

.card {
  border-radius: 6px;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}

.btn {
  color: #00d4ff;
  position: relative;
  border-radius: 5px;
  border: 1px solid #00d4ff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 1rem;
}

.btn.primary {
  background: #00d4ff;
  color: #fff;
  font-weight: bold;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}

input[type='file'] {
  /* hide default input button */
  display: none;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.preview-image {
  position: relative; /* to ensure 'position: absolute' .preview-remove will position relatively to this block */
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden; /* to remove visibility of the bottom description block */
}

.preview-image.removing {
  transform: scale(0);
  transition: transform 0.3s;
}

.preview-image img {
  width: 180px;
  height: auto;
}

.preview-remove {
  opacity: 0;
  transition: 0.5s;
  /* remove button on the picture */
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preview-image:hover .preview-remove {
  /* add remove button pop-up on hover */
  opacity: 1;
}

.preview-image:hover .preview-info {
  /* add remove button pop-up on hover */
  bottom: 4px;
}

.preview-info {
  transition: bottom 0.5s;
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  height: 24px;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.preview-info-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #00d4ff;
  transition: width 0.2s;
  /* to show percent count in the middle of the progress bar */
  display: flex;
  align-items: center;
  justify-content: center;
}
